@use 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 173%;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1271px;
    padding: 0 10px;
    margin: 0 auto;
}

.section-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 286%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #244886;
}

.section-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -0.03em;
    color: var(--title-color);
}

.div-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 153%;
    letter-spacing: -0.04em;
    color: var(--title-color);
}

.item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    color: var(--title-color);
}