.footer {
    &__inner {
        padding-top: 60px;
        padding-bottom: 124px;
        border-top: 1px solid #e5ecf4;;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .footer-list {
            &__title {
                margin-bottom: 28px;
                font-weight: 500;
                font-size: 18px;
                line-height: 167%;
                letter-spacing: -0.03em;
                color: #0f2137;
            }
            &__item {
                font-size: 14px;
                line-height: 250%;
                color: #02073e;
                opacity: 0.8;
            }
        }
    }
    
    
}
