.get-app {
    background: linear-gradient(317deg, rgba(255, 253, 230, 0.35) 0%, rgba(255, 253, 230, 0.35) 0.01%, rgba(224, 239, 250, 0.35) 100%);
    padding-top: 130px;
    .get-app__inner {
        display: flex;
        align-items: center;
        gap: 62px;
        .get-app__img {
            width: 700px;
        }
        .get-app__info {
            width: 510px;
            .section-subtitle {
            }
            .section-title {
            }
            &-title {
                margin-bottom: 40px;
            }
            &-text {
                font-size: 18px;
                line-height: 233%;
                color: #02073e;
                margin-bottom: 30px;
            }
            &-link {
            }
            .main-btn {
            }
        }
    }
    
    
}
