.header {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    color: #fff;
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
        }
        .menu {
        }
        .menu-list {
            display: flex;
            align-items: center;
        }
        .menu-list__item {
        }
        .header__btn {
        }
    }

    
.promo {
    display: flex;
    justify-content: space-between;
    .promo-info {
        &__title {
            font-weight: 700;
            font-size: 85px;
            line-height: 118%;
            letter-spacing: -0.02em;
            color: #fff;
        }
        &__text {
        }
        &__links {
        }
        &__link {
        }
        &__brands {
            display: flex;
            align-items: center;
            .promo-info__brands-img {
            }
        }
        
    }
    
    .promo-media {
        &__img {

        }
    }
}

    
}
